#body {
  margin: 0%;
}
#screen {
  background-color: aqua;
  display: grid;
  aspect-ratio: 16/9;
}
#game {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background-color: blue;
  grid-area: 1/1;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#game_background {
  background-color: chocolate;
  background-image: url(images/farm_baggrund.jpg);
  grid-area: 1/1;
  background-size: cover;
  z-index: 2;
  aspect-ratio: 16/9;
}
#game_elements {
  grid-area: 1/1;
  z-index: 3;
}
#game_foreground {
  z-index: 4;
}
/*positioning*/
#mink1_container {
  position: absolute;
  top: -5vw;
  left: -0vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  scale: 25%;
}
#mink1_sprite {
  width: 100%;
}

#mink2_container {
  position: absolute;
  top: 5vw;
  left: 20vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  scale: 25%;
}
#mink2_sprite {
  width: 100%;
}

#lars_container {
  position: absolute;
  top: 0vw;
  left: 40vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  scale: 25%;
}
#lars_sprite {
  width: 100%;
}
#jakob_container {
  position: absolute;
  top: 20vw;
  left: 80vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  scale: 75%;
}
#jakob_sprite {
  width: 100%;
}
#mette_container {
  position: absolute;
  top: 35vw;
  left: 80vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
#mette_sprite {
  width: 100%;
}
/*animation*/
.left_to_right {
  animation-name: left_to_right;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes left_to_right {
  0% {
    transform: translate(-400%, 0);
  }
  100% {
    transform: translate(500%, 0);
  }
}
.right_to_left {
  animation-name: right_to_left;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes right_to_left {
  0% {
    transform: translate(400%, 0);
  }
  100% {
    transform: translate(-500%, 0);
  }
}
.paused {
  animation-play-state: paused;
}
.rotate_zoom {
  animation-name: rotate_zoom;
  animation-duration: 1s;
  transform: rotate(360deg);
}
