#body {
  border: 0%;
  margin: 0%;
}
#screen {
  background-color: aqua;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  aspect-ratio: 16/9;
}
#game {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background-color: blue;
  grid-area: 1/1;
}
#game_background {
  background-color: chocolate;
  background-image: url(images/farm_baggrund.jpg);
  grid-area: 1/1;
  z-index: 1;
  background-size: cover;
}
#game_elements {
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  z-index: 2;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#mink_container {
  position: absolute;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  transition-duration: 3s;
}
#mink_container img {
  width: 20%;
}

#lars_container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
}
#lars_container img {
  width: 20%;
}
#jakob_container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
}
#jakob_container img {
  width: 20%;
}
#mette_container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  z-index: 4;
}
#mette_container img {
  width: 20%;
}
@keyframes mink_container {
  0% {
    transform: translate(0, -150%);
  }
  100% {
    transform: translate(0, 150%);
  }
}
