#body {
  border: 0%;
  margin: 0%;
}
#screen {
  background-color: aqua;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  aspect-ratio: 16/9;
}
#game {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background-color: blue;
  grid-area: 1/1;
  overflow: hidden;
}
#game_background {
  background-color: chocolate;
  background-image: url(images/farm_baggrund.jpg);
  grid-area: 1/1;
  z-index: 1;
  background-size: cover;
}
#game_elements {
  width: 100%;
  height: 100%;
  grid-area: 1/1;
  z-index: 2;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#mink_container1 {
  position: absolute;
  left: -250px;
  top: -100px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: fit-content;
  scale: 15%;
  animation-name: mink1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes mink1 {
  0% {
    transform: translate(-20%, 0);
  }
  100% {
    transform: translate(900%, 0);
  }
}
#mink_container2 {
  position: absolute;
  left: 500px;
  top: 50px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: fit-content;
  scale: 15%;
  animation-name: mink2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes mink2 {
  0% {
    transform: translate(20%, 0);
  }
  100% {
    transform: translate(-900%, 0);
  }
}

#lars_container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  width: fit-content;
  scale: 15%;
  top: -300px;
  left: -340px;
}
#jakob_container {
  width: fit-content;
  scale: 10%;
  top: -400px;
  left: 300px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  position: absolute;
  animation-name: jakob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/*@keyframes jakob {
  0% {
    transform: translate(-400%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}*/

#mette_container {
  position: absolute;
  top: -200px;
  left: -20px;
  width: fit-content;
  scale: 20%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  z-index: 4;
  /*background-color: chartreuse;*/
}
#mette_container img {
}
